.categoryPage {
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../picture/background-body.jpg");
  background-size: 100% 100%;
}

.createRecordBtn{
  flex-direction: row-reverse;
  padding: 0.4em;
}

.createCategoryBtn{
  right: 0;
  padding: 0.4em;
}

.currentCategory{
  position: relative;
  flex-direction: row;
  border: 2px #03A678 solid;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  height: 80px;
  width: 230px;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 3%;
  margin-left: 20%;
  margin-bottom: 3%;
  transition: all 1s ease;
}

#currentName {
  position: flex;
  font-family: "Great Vibes", cursive;
  font-weight: normal;
  text-shadow: 0 1px 1px #fff;
  font-size: 200%;
  height: 80px;
  width: 230px;
  justify-content: center;
  text-align: center;
  line-height: 80px;
  transition: all 1s ease;
}

#back {
  position: flex;
  font-family: "Great Vibes", cursive;
  font-weight: normal;
  text-shadow: 0 1px 1px #fff;
  font-size: 100%;
  height: 80px;
  width: 230px;
  justify-content: center;
  text-align: center;
  line-height: 80px;
  opacity: 0;
  transition: all 1s ease;
}

.currentCategory:hover #back {
  opacity: 1;
  margin-top: 5%;
}

.currentCategory:hover #currentName {
  margin-top: -45%;
}

.currentCategory:hover #currentName span {
  opacity: 0;
}

.currentCategory:hover {
  background-color: lightblue;
  opacity: 0.75;

}

.mostOuterContainer{
  background-color: rgba(255,255,255,0);
  margin: 0 auto;
  width: 100%;
  height: 100%;

  border-radius: 10px;
}

.topDiv{
  background-color: rgba(255,255,255,0);
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.click {
  display: flex;
  justify-content: flex-end;
  float: right;
  margin-right: 5%;
}
.btn-primary {
  border: 1px solid black;
  opacity: 0.75;
  height: 90%;
  font-size: 110%;
  margin-top: 3%;
  margin-bottom: 3%;

}

.editRecordPencil{
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 10%;
  padding: 0;
  background-color: gray;
  border-radius: 20px;
}

.editCategoryPencil {
  position: absolute;
  bottom: 0;
  right: 10%;
  padding: 0.2em;
  background-color: gray;
  border-radius: 20px;
}

.delCategoryCan{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2em;
  background-color: #ed4604;
  border-radius: 20px;
}

.delRecordCan{
  position: absolute;
  width: 10%;
  bottom: 0;
  right: 0;
  padding: 0.2em;
  background-color: #ed4604;
  border-radius: 20px;
}

.recordContainer{
  position: relative;
  text-align: center;
  justify-content: center;
  display: flex;
  flex: 0.3;
  overflow: hidden;
  background-color: #34AAAB;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid black;
  max-width: 20%;
  min-width: 20%;
  height: 8em;
  margin: 0.5em;
}


#textBox  {
  width: 100%;
  height: 100%;
}

.recordNotes {
  position: relative;
  max-width: 80%;
  text-align: left;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  height: 40%;
  flex-wrap: wrap;
  overflow: hidden;
  word-wrap: break-word;
  margin: 0;
}


.recordPrice {
  position: relative;
  flex-wrap: wrap;
  color: black;
  font-size: 150%;
  margin: 0;
}

.dateInput {
  position: relative;
  color: black;
  margin: 0;
  height: 20%;
}

.categoryContainer{
  position: relative;
  text-align: center;
  max-width: 20%;
  min-width: 20%;
  height: 8em;
  flex: 0.3;
  background-color: #64C195;
  border: 1px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  justify-content: space-around;
  margin: 0.5em;
  padding: 0;
}


.categoryName{
  vertical-align: middle;
  position: relative;
  width: 100%;
  height: 50%;
  top: 0;
  font-size: 1.5em;
  overflow: hidden;
  word-wrap: break-word;
  margin: 0;
}

.categoryNote {
  width: 100%;
  height: 50%;
  text-align: left;
  margin: 0;
  padding-left: 3%;
}

.bottomDiv {
  background-color: rgba(255,255,255,0);
  opacity: 0.7;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}






























