.categoryPage {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("../picture/background-body.jpg");
  background-size: 100% 100%;
}

.createRecordBtn{
  flex-direction: row-reverse;
  padding: 0.4em;
}

.createCategoryBtn{
  right: 0;
  padding: 0.4em;
}

.currentCategory{
  /* background-color: lightblue; */
  position: relative;
  flex-direction: row;
  /* border: 1px black solid;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px; */
  height: 60px;
  width: 160px;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 8%;
  margin-left: 8%;
  margin-bottom: 3%;
  transition: all 1s ease;
  font-size: 24px;
  display: flex;
  align-items: center;
  opacity: 0.8;
}

.currentName {
  /* background-color: black; */
  font-size: 28px;
  font-weight: bold;
  margin-left: 33vw;
  margin-bottom: 10px;
  min-width: 20vw;
}

#currentName {
  /* position: flex; */
  font-family: "Great Vibes", cursive;
  font-weight: bold;
  text-shadow: 0 1px 1px #fff;
  /* font-size: 200%; */
  height: 60px;
  width: 180px;
  justify-content: center;
  text-align: center;
  line-height: 60px;
  transition: all 1s ease;
  margin-left: 10px;
}

#backBtn {
  border: none;
  min-height: 50px;
  min-width: 120px;
  background-color: grey;
  color: black;
  font-size: 22px;
  opacity: 0.8;
}

#backBtn:hover {
  color: white;
  border: 1px solid gray;
  opacity: 1.0;
}

.spaceBtn {
  background-color:white;
  min-width: 200px;
}

#back {
  /* position: flex; */
  font-family: "Great Vibes", cursive;
  font-weight: normal;
  text-shadow: 0 1px 1px #fff;
  /* font-size: 100%; */
  height: 60px;
  width: 240px;
  /* justify-content: center; */
  text-align: center;
  line-height: 60px;
  opacity: 0;
  transition: all 1s ease;
  /* margin-right: 20px; */
}

.currentCategory:hover #back {
  opacity: 1;
  margin-top: -15%;
}

.currentCategory:hover #currentName {
  margin-top: -45%;
}

.currentCategory:hover #currentName span {
  opacity: 0;
}

.currentCategory:hover {
  
  opacity: 0.75;
}

.mostOuterContainer{
  background-color: rgba(255,255,255,0);
  margin: 0 auto;
  width: 100%;
  height: 100%;

  border-radius: 10px;
}

.topDiv{
  /* background-color: rgba(255,255,255,0); */
  background-color: lightblue;
  opacity: 0.8;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

.click {
  display: flex;
  justify-content: flex-end;
  float: right;
  margin-right: 5%;
}
.btn-primary {
  border: 1px solid black;
  opacity: 0.75;
  height: 90%;
  font-size: 110%;
  margin-top: 3%;
  margin-bottom: 3%;

}

.editRecordPencil{
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 10%;
  padding: 0;
  background-color: gray;
  border-radius: 20px;
}

.editCategoryPencil {
  position: absolute;
  bottom: 0;
  right: 10%;
  padding: 0.2em;
  background-color: gray;
  border-radius: 20px;
}

.delCategoryCan{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2em;
  background-color: #ed4604;
  border-radius: 20px;
}

.delRecordCan{
  position: absolute;
  width: 10%;
  bottom: 0;
  right: 0;
  padding: 0.2em;
  background-color: #ed4604;
  border-radius: 20px;
}

.recordContainer{
  position: relative;
  text-align: center;
  justify-content: center;
  display: flex;
  flex: 0.3;
  overflow: hidden;
  background-color: #34AAAB;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid black;
  max-width: 20%;
  min-width: 20%;
  height: 8em;
  margin: 0.5%;
}


#textBox  {
  width: 100%;
  height: 100%;
}

.recordNotes {
  position: relative;
  text-align: left;
  padding-left: 3%;
  width: 80%;

  height: 40%;
  flex-wrap: wrap;
  overflow: hidden;
  word-wrap: break-word;
  margin: 0;
}


.recordPrice {
  position: relative;
  flex-wrap: wrap;
  color: black;
  font-size: 150%;
  margin: 0;
}

.dateInput {
  position: relative;
  color: black;
  margin: 0;
  height: 20%;
}

.categoryContainer{
  position: relative;
  text-align: center;
  max-width: 20%;
  min-width: 20%;
  height: 8em;
  flex: 0.3;
  background-color: #64C195;
  border: 1px solid black;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  justify-content: space-around;
  margin: 0.5em;
  padding: 0;
  display:flex;
  align-items: center;
}


.categoryName{
  /* background-color:black; */
  width: 5000px;
  height: 40%;
  font-size: 1.5em;
  word-wrap: break-word;
  /* vertical-align: middle; */
  /* position: relative; */
  /* top: 0; */
  /* overflow: hidden; */
}

.categoryNote {
  width: 100%;
  height: 50%;
  text-align: left;
  margin: 0;
  padding-left: 3%;
}

.bottomDiv {
  background-color: rgba(255,255,255,0);
  opacity: 0.8;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bottomDivBGC {
  background-color:white;
  opacity: 0.8;
  float: top;
  width: 100%;
  height:100%;
}
