.bar {
  width: 50%;
  position: absolute;
  right: 10%;
/*  transform: rotate(-90deg);*/
}
.ColumnChart {
  height: 50%;
  position: absolute;
  left: 5%;
  bottom: 10%;
}
.heading {
  text-align: center;
}

