.CompareHome {
  position: fixed;
  height: 100%;
  width: 100%;
  background-image: url("../picture/background-body.jpg");
  background-size: 100% 100%;
}

.background-container {
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.75);
}

.compare-control-area {
  position: relative;
  justify-content: center;
  padding: 0;
  height: ;
}

.update_area a {
  padding-left: 0%;
}


.highcharts-credits {
  display: none;
}

.highcharts-legend-box {
  fill: white;
  fill-opacity: 0.7;
  stroke: black;
  stroke-width: 1px;
  top: 10px;
}
.highchart div {
  width: 100vw;
}

#highcharts-v1xtq0u-8 {
  left: 5em;
}

.charts-area {
  position: relative;
  justify-content: center;
  align-content: center;
  padding: 0;
}

.highcharts-legend {
  position: relative;
}

