
.navbar {
  height: 4em;
  padding: 0;
  background-color: #2F3136;
  opacity: 0.8;
  border-bottom-left-radius: 60px;

}


#logo .navbar-brand {
  color: #d54d7b;
  font-family: "Great Vibes", cursive;
  font-weight: normal;
  text-shadow: 0 1px 1px #fff;
  padding-left: 20%;
  padding-top: 0;
  -webkit-transition: .5s ease-out;
  -moz-transition:  .5s ease-out;
  transition:  .5s ease-out;
  font-size: 160%;
}

#logo:hover .navbar-brand {
  -webkit-transform: rotateZ(-10deg);
  -moz-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
}


.add_new_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 20px 0;
  padding: 0;
}
.contents {
  height: 100%;
  width: 40%;
  display: flex;
  font-family: "Great Vibes", cursive;
  font-weight: normal;
  text-shadow: 0 1px 1px #fff;
  font-size: 150%;
}
.contents div {
  height: 100%;
  /*border-left: 1px solid;*/
  width: 33%;


}

.contents div:hover {
  text-decoration: underline;
}



#comparePage {

  height: 100%;
  color: #A49492;
  width: 100%;
}



#comparePage a {
  height: 100%;
  width: 100%;
  color: #A49492;
}

#comparePage:hover a {
  /*font-size: 80%;*/

  /*transition: 1s;*/
  position: absolute;
  /*color: black;*/
}

#comparePage:hover {
  /*background-color: white;*/
  background-image: url("../picture/graph.png");
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s;
}



#categoryPage {
  color: #A49492;
  width: 100%;
  height: 100%;

}

#categoryPage a {
  height: 100%;
  width: 100%;
  color: #A49492;
}

#categoryPage:hover a {
  position: absolute;
}

#categoryPage:hover {
  background-image: url("../picture/folder.png");
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s;
}

#categoryPage a {
  color: #A49492;
}

#userInfo {
  color: #A49492;
  width: 100%;

}

