
.navbar {

  height: 4em;
  padding: 0;
  background-color: #2F3136;
  opacity: 0.8;
  border-bottom-left-radius: 60px;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  position: relative;
}


.contents .navbar-brand {
  color: lightblue;
  font-family: "Great Vibes", cursive;
  font-weight: normal;
  text-shadow: 0 1px 1px #fff;
  padding: 0;
  padding-top: 0;
  -webkit-transition: .5s ease-out;
  -moz-transition:  .5s ease-out;
  transition:  .5s ease-out;
  font-size: 160%;
}

.contents .navbar-brand:hover {
  -webkit-transform: rotateZ(-10deg);
  -moz-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
}


.add_new_btns {

  padding: 0;
}

.contents {
  position: relative;
  margin-left: 3%;
  height: 100%;
  width: 50%;
  display: flex;
  font-family: "Great Vibes", cursive;
  font-weight: normal;
  text-shadow: 0 1px 1px #fff;
  font-size: 150%;

}
.contents div {
  width: 20%;

}

.contents div:hover {
  text-decoration: underline;
}

#compareBox {

}

#comparePage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #A49492;
  width: 100%;


}

#comparePage a {
  color: #A49492;
}

#categoryPage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

}

#categoryPage a {

  color: #A49492;

}


#categoryPage a {
  color: #A49492;

}

.slogan {
  position: absolute;
  right: 0;
  width: 57%;
  text-align: left;
  align-items: center;
  justify-content: center;
  font-family: "Great Vibes", cursive;
  font-weight: normal;
  text-shadow: 0 1px 1px #fff;
  font-size: 160%;
  color: #A49492;

}



.userInfo {
  position: relative;
  right: 5%;
  align-items: center;
  justify-content: center;
  font-family: "Great Vibes", cursive;
  font-weight: normal;
  text-shadow: 0 1px 1px #fff;
  font-size: 160%;
  color: #A49492;

}



