#container {
  max-width: 660px;
  margin: auto;
  height: 400px;
  margin: 0 auto;
}

.add_new_btns, .update_area {
  display: flex;
  align-items: center;
  margin:10px;
  padding: 20px;
}

.add-expenses-btn {
  margin:10px;
  padding: 20px;
}

.add-incomes-btn {
  margin:10px;
  padding: 20px;
}

.calender-area {
  display: flex;
  align-items: center;
}

.update-btn {
  margin:10px;
  padding: 20px;
}
