#container {
  max-width: 660px;
  margin: auto;
  height: 400px;
  margin: 0 auto;
}

.add_new_btns {
  display: flex;
  align-items: center;
  margin:20px;
  padding: 20px;
}

.add-expenses-btn {
  margin:20px;
  padding: 20px;
}

.add-incomes-btn {
  margin:20px;
  padding: 20px;
}